<h1>Products</h1>
<%# button_to "Add to cart", line_items_path(:product_id => product.id) %>

<%= paginate @products %>
<%= render partial: 'product',
           collection: @products,
           locals: {product_page: true}%>

<% @products.each do |product| %>
<p>
    Name: <%= product.name %>; 
           unit price of <%= number_to_currency(product.price) %>
</p>
<p>
    <%= link_to "Edit", edit_product_path(product) %> |
    <%= link_to "Delete", product_path(product), method: :delete, data: {confirm: "Are you sure?"} %>
    <%= button_to "Add #{product.name} to cart", cart_items_path(:product_id => product.id) %>
</p>
