<!DOCTYPE html>
<html>
  <head>
    <title>NatureStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <% if customer_signed_in? %>
      <% if current_customer.image.attached? %>
      <%= image_tag(current_customer.image) %>
      <% end %>
    <%= link_to "Logout" , destroy_customer_session_path , method: :delete%>
    <% else %>
    <%= link_to "Sign In" ,new_customer_session_path %>
    <%= link_to "Sign Up" , new_customer_registration_path %>
    <% end %>
  </div>
    <h2><%= link_to "Products",root_path%></h2>
    <h3>Categories</h3>
    <% categories = Category.all %>
    <% categories.each do |c|%>
    <p><%= link_to c.name , category_cat_path(:id => c.id)%></p>
    <% end %>

    <%= form_tag( search_search_path, method: "get") do %>
    <%= text_field_tag(:search)%>
    <%= collection_select(:cat,:category_id,Category.all.order(:name),:id,:name)%>
    <%= submit_tag("Search")%>
    <% end %>

    <%= yield %>
  </body>
</html>
